{% load inlinecss %}
{% inlinecss "css/email.css" %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<!--remove once inlined -->
<!-- <link rel="stylesheet" href="../../static/css/email.css" type="text/css"> -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>You've earned a badge. Claim it with this code.</title>

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#f8f8f8">
	<tr>
		<td></td>
		<td class="header container">
			
				<div class="content">
					<table bgcolor="#f8f8f8">
					<tr>
						<td><img src="http://placekitten.com/200/30" /></td>
						<td align="right"><h6 class="collapse">{{ organization }}</h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						
						<h3>Cheers!</h3>
						<p class="lead">You've earned a badge from {{ organization }}:</p>
						
						<!-- Badge image -->
						<p class="badge-container"><img src="{{ badgeclass_image_url }}" /></p><!-- /hero -->
						
						<!-- Callout Panel 
						<p class="callout">
							Claim your badge and add it to your collection. <a href="#">Claim now &raquo;</a>
						</p> /Callout Panel -->
						
						<h3>{{ badge_name }}</h3>
						<p>{{ badge_earner_description }}</p>
						<p class="claim-link"><a class="btn" href="{{ claim_url }}">Claim your badge!</a></p>
						<p>You can choose to send this badge to whichever email address you prefer to receive badge awards.
												
						<br/>
						<br/>							
												
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!--- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Learn more about {{ organization }} badges:</h5>
												<p class=""><a href="{{ about_program_url }}" class="">About our badges</a> <br /><a href="http://openbadges.org" class="">About Open Badges</a></p>
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!--- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Contact Info:</h5>												
												<p>Email: <strong><a href="emailto:{{contact_email}}">{{ contact_email }}</a></strong>
												<br/>
        								Website: <strong><a href="{{site_base_url}}">{{ organization }}</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
					
					
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p><small>
							<!--<a href="#">Privacy</a> | -->
							<a href="{{ unsubscribe_link }}"><unsubscribe>I don't want to see these notifications</unsubscribe></a>
						</small></p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>

{% endinlinecss %}